# edit with firebase credentials

    src/credentials.coffee

# edit with your uid

    database.rules.json

# Contains senstive data after compilation

    chrome_extension/persistent_override.pkgd.js
    
# doesn't need to be in source control

    node_modules/*
    dist/*
    tmp/*
    firebase-debug.log
    
