Credentials =
  apiKey: "<Change Me>"
  authDomain: "<Change Me>.firebaseapp.com"
  databaseURL: "https://<Change Me>.firebaseio.com"
  storageBucket: ""
  email: "<Change Me>"
  password: "<Change Me>"
